@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
 
@layer base {
  :root {
    --background: 220 20% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 222 47% 11%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 220 9% 46%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 222 47% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 239 84% 67%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 228 18% 9%;
    --foreground: 220 20% 96%;
 
    --card: 228 16% 12%;
    --card-foreground: 220 20% 96%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 228 13% 18%;
    --secondary-foreground: 220 20% 96%;
 
    --muted: 228 13% 18%;
    --muted-foreground: 220 10% 67%;
 
    --accent: 228 13% 21%;
    --accent-foreground: 220 20% 96%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 228 13% 22%;
    --input: 228 13% 22%;
    --ring: 239 84% 67%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}